{% extends 'base.html' %} 
{% block title %}IDA Platform • APIs{% endblock
%} {% block content %} {% with messages = get_flashed_messages() %} {% if
"successfully" in messages[0] %}

<br />
<div class="success_item">
  {{ messages[0] }}
  <span class="closebtn" onclick="this.parentElement.style.display='none';"
    >&times;</span
  >
</div>
{% elif messages %}
<br />
<div class="alert_item">
  {{ messages[0] }}
  <span class="closebtn" onclick="this.parentElement.style.display='none';"
    >&times;</span
  >
</div>
{% endif %} {% endwith %}

<div class="box-header">
  <br><br><br>
  <h2>APIs</h2>
  <br>
</div>


<div id="toggleButton" class="toggleButton">
  <button id="urtubutton" class="btn" onclick="urtu" >Help</button>
</div>
<div id="urtu" class="urtu">
  <div class="urtu-content">
    <div class="urtu-header">
      <span class="close" name="close">&times;</span>
      <h4>APIs Setting</h4>
    </div>
    <div class="urtu-body" style="align-items: center;justify-content:center;display: flex">
      <img src="../static/images/api_help.PNG" alt="">
    </div>
  </div>
</div>

<div class="tab">
  <button class="tablinks active" onclick="openTab(event, 'APIsList')">
    APIs List
  </button>
  <button class="tablinks" onclick="openTab(event, 'addAPIs')">Add APIs</button>
</div>

<div id="APIsList" class="tabcontent" style="display: block">
  <table style="width: 80%">
    <br />
    <tr>
      <!-- <th>Edit</th> -->
      <th>API Name</th>
      <th>URL</th>
      <th>Port</th>
      <th>Path</th>
      <th>NEXPIE</th>
    </tr>
    {% for row in result %}
    <tr>
      <form method="POST" action="/apis">
        <!-- <td>
          <input
            type="checkbox"
            id="checkbox"
            name="checkbox{{ row[0] }}"
            value="checked" 
          /><br />
        </td> -->
        <td style="width: 80%">
          <input
            type="text"
            id="apiname"
            name="apiname{{ row[0] }}"
            maxlength="50"
            size="30"
            value="{{
            row[1]
            }}"
          />
        </td>
        <td>
          <input
            type="text"
            id="url"
            name="url{{ row[0] }}"
            size="40"
            value="{{
            row[2]
            }}"
          />
        </td>
        <td>
          <input
            type="text"
            id="port"
            name="port{{ row[0] }}"
            maxlength="5"
            size="10"
            value="{{
            row[3]
            }}"
          />
        </td>
        <td>
          <input
            type="text"
            id="path"
            name="path{{ row[0] }}"
            value="{{
            row[4]
            }}"
          />
        </td>
        <td>
          <input
            type="text"
            id="nexpieauth"
            name="nexpieauth{{ row[0] }}"
            maxlength="32"
            size="40"
            value="{{
            row[5]
            }}"
          />
        </td>
        <!-- <td>
          <button
            id="nexpie_submit"
            type="submit"
            class="btn btn-secondary my-1"
            value="submit1"
          >
            Update
          </button>
        </td> -->
      </form>

      <form class="form-inline" method="POST" action="/apis/export" onclick="clicked(event)">
        <td><button name="exportbutton" class="btn" type="submit2" value={{ row[1] }} >Export</button></td>
      </form> 
      <form class="form-inline" method="POST" action="/apis/delete" onclick="clicked(event)">
        <td><button name="deletebutton" class="btn" type="submit" value={{ row[1] }}>Delete</button></td>
      </form>

    </tr>
    <br />
    {% endfor %}
  </table>
</div>

<div id="addAPIs" class="tabcontent">
  <form method="POST" action="/apis/add">
    <br />
    <table style="width: 80%">
      <tr>
        <th colspan="5">Add APIs</th>
      </tr>
      <tr>
        <th>API Name</th>
        <th>URL</th>
        <th>Port</th>
        <th>Path</th>
        <th>NEXPIE</th>
      </tr>
      <tr>
        <td>
          <input
            type="text"
            id="newAPIname"
            name="newAPIname"
            placeholder="API Name"
            maxlength="50"
            size="40"
          />
        </td>
        <td>
          <input
            type="text"
            id="newURL"
            name="newURL"
            placeholder="URL"
            size="40"
          />
        </td>
        <td>
          <input
            type="text"
            id="newPort"
            name="newPort"
            placeholder="Port"
            maxlength="5"
            size="10"
          />
        </td>
        <td>
          <input
            type="text"
            id="newPath"
            name="newPath"
            placeholder="Path"
            size="36"
          />
        </td>
        <td style="width: 25%;border: none"><label for="newnexpieauth"></label><select name="newnexpieauth" id="newnexpieauth">
          {% for nexpieauth in credentials %}
            <option value={{ nexpieauth[0] }}>{{ nexpieauth[0] }}</option>
          {% endfor %}
        </td>
      </tr>
    </table>
    <div class="text-center">
      <br /><button
        id="nexpie_submit"
        type="submit"
        class="btn btn-secondary my-1"
        value="submit1"
      >
        Submit</button
      ><br /><br /><br /><br />
    </div>
  </form>
</div>


{% endblock %}
