{% extends 'base.html' %}
{% block title %}IDA Platform • Credentials{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if "successfully" in messages[0] %}
<br>
<div class="success_item">
  {{ messages[0] }}
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
</div>
{% elif messages %}
<br>
<div class="alert_item">
  {{ messages[0] }}
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
</div>
{% endif %}
{% endwith %}

<div class="box-headercredentials">
  <br><br><br>
  <h2>NEXPIE Credentials</h2><br>
</div>

<div class="tab">
  <button class='tablinks active' onclick="openTab(event, 'addNexpieAuth')">Add Device</button>
</div>

<div id="addNexpieAuth" class="tabcontent" style="display: block">
  <form method="POST" action="/credentials/add">
  <br>
    <table style="width: 80%">
    <tr>
        <th colspan="4">Add NEXPIE device</th>
      </tr>
      <tr>
        <th>Name</th>
        <th>Device ID</th>
        <th>Token</th>
        <th>Secret</th>
      </tr>
      <tr>
        <td><input type="text" id="newDevicename" name="newDevicename" placeholder="Name" maxlength="50" size="40"></td>
        <td><input type="text" id="newClientID" name="newClientID" placeholder="Device ID" maxlength="36" size="40"></td>
        <td><input type="text" id="newToken" name="newToken" placeholder="Token" maxlength="32" size="36"></td>
        <td><input type="text" id="newSecret" name="newSecret" placeholder="Secret" maxlength="32" size="36"></td>
      </tr>
    </table>
    <div class="text-center">
      <br><button id="nexpie_submit" type="submit" class="btn btn-secondary my-1" value="submit1">Submit</button><br><br><br><br>
    </div>
  </form>
</div>
{% endblock %}
