{% block body %}
{% if address[7] == "04" %}
<option value="04">04: Read Input Register</option>
<option value="03">03: Read Holding Register</option>
<option value="00">None</option>
<option value="99">Delete</option>
{% elif address[7] == "03" %}
<option value="03">03: Read Holding Register</option>
<option value="04">04: Read Input Register</option>
<option value="00">None</option>
<option value="99">Delete</option>
{% else %}
<option value="00">None</option>
<option value="03">03: Read Holding Register</option>
<option value="04">04: Read Input Register</option>
<option value="99">Delete</option>
{% endif %}
{% endblock %}
